* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  border: none;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
