:root{
  --blue: #2980b9;
  --light-blue: #76daff;
  --black: #2d3436;
  --white: #f5f6fa;
  --green: #27ae60;
  --pink: #D980FA;
  --orange: #ff9f43;
  --red: #ee5253;
  --yellow: #ffdd59;
  --violet: #5f27cd;
  --gray: #a4b0be;
}
$blue: #2980b9;
$black: #2d3436;
$white: #f5f6fa;
$green: #27ae60;