footer .footer-bottom .socials, footer .footer-bottom, footer .footer-top .download-links, footer .footer-top, .cta .email, .faq .questions-grp .question .title, .testimonial .feedback-grp .feedback .control-comment, .navbar .header-right, .navbar .header-left, .navbar, .center {
  display: flex;
}

.contact p, .faq .questions-grp, .testimonial .feedback-grp .feedback .control-comment > div, .hiw-steps .step h2 > span, .navbar a {
  display: inline-block;
}

.pricing .editions .edition .benefit__content span {
  display: block;
}

.cta, .faq .questions-grp, .screenshots .scs-img, .screenshots, .testimonial .feedback-grp, .hiw-video button, .hiw-steps .step, header {
  position: relative;
}

.screenshots .scs-control, .testimonial .feedback-grp > i, .hiw-steps .step::before, #bg, .cta::after, .cta::before {
  position: absolute;
}

.cta::after, .cta::before {
  height: 100%;
}

.screenshots .scs-img, #bg {
  top: 0;
  left: 0;
}

.cta::after, .cta::before {
  content: " ";
}

.cta::after, .cta::before {
  width: 68rem;
}

:root {
  --blue: #2186eb;
  --blue-deep: #334e68;
  --gray: #627d98;
  --white: #ffffff;
  --dl-pseudo: 100%;
}

.container {
  width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

span {
  color: var(--blue);
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.m-theme {
  margin-top: 19rem;
}

#bg {
  background-image: linear-gradient(0deg, white, #f4f2f9);
  z-index: -1;
}

header {
  padding: 1.8rem 1.5rem;
  background: no-repeat center/cover;
  background-image: url(../img/header-bg.svg), linear-gradient(to bottom, var(--blue) 0 50%, transparent 50%);
}

.navbar {
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  color: var(--white);
  font-weight: 700;
  padding: 1.5rem 6rem;
  margin: 0 0.25rem;
  border: 0.2rem solid transparent;
  border-radius: 2.5rem;
}
.navbar a::first-letter {
  text-transform: capitalize;
}
.navbar a:hover {
  border-color: var(--white);
}
.navbar > a {
  padding: 0;
  margin: 0;
}
.navbar .header-left {
  flex: 1 1 50%;
  justify-content: flex-start;
  align-items: center;
}
.navbar .header-left a:nth-child(2) {
  text-transform: uppercase;
}
.navbar .header-right {
  flex: 1 1 50%;
  justify-content: flex-end;
  align-items: center;
}

.hero {
  margin-top: 11.5rem;
}
.hero h1 {
  color: var(--white);
  font-size: 6.6rem;
  text-transform: capitalize;
  width: 60rem;
  margin: 0 auto;
}
.hero img {
  margin-top: 6rem;
  min-height: 74rem;
}

main {
  padding-top: 4rem;
}
main h1, main span {
  font-size: 4.8rem;
}
main h1::first-letter, main span::first-letter {
  text-transform: uppercase;
}
main p {
  color: var(--gray);
}
main button {
  cursor: pointer;
}

.hiw {
  flex-direction: column;
  background: var(--white) url(../img/Wave.png) no-repeat right bottom;
  mix-blend-mode: multiply;
}
.hiw-steps .step {
  display: inline-block;
  padding: 9.5rem 4.5rem 4.5rem;
  width: 38rem;
  min-height: 32rem;
  border-radius: 2.5rem;
}
.hiw-steps .step:hover {
  background-color: var(--white);
  box-shadow: 0 1.5rem 3.5rem 0 rgba(51, 78, 104, 0.1);
}
.hiw-steps .step::before {
  content: attr(step);
  top: 0;
  left: 15%;
  font-size: 20.5rem;
  color: #d9e2ec;
  opacity: 0.3;
  mix-blend-mode: multiply;
}
.hiw-steps .step h2, .hiw-steps .step span {
  font-size: 2.4rem;
}
.hiw-steps .step h2 {
  color: var(--blue-deep);
  line-height: 3.95rem;
}
.hiw-steps .step h2 > span {
  color: var(--blue);
}
.hiw-steps .step h2 > span::first-letter {
  text-transform: uppercase;
}
.hiw-steps .step p {
  line-height: 2.8rem;
}
.hiw-title {
  margin-top: 14rem;
  width: 67rem;
}
.hiw-title h2::first-letter {
  text-transform: uppercase;
}
.hiw-title p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 3rem;
}
.hiw-video {
  margin-top: 6.5rem;
  width: 97rem;
  height: 55rem;
  background-image: url(../img/video-bg.png);
  border-radius: 2.5rem;
  box-shadow: 0 1.5rem 3.5rem 0 rgba(33, 134, 235, 0.75);
}
.hiw-video button {
  color: var(--white);
  border-radius: 50%;
  font-size: 7.813rem;
  width: 7.6rem;
  height: 7.6rem;
  background-color: var(--blue);
  transition: box-shadow 0.5s linear;
  box-shadow: 0 0 0 0 #7cc4fa, 0 0 0 0 #47a3f3;
}
.hiw-video button:hover {
  box-shadow: 0 0 0 1.4rem #7cc4fa, 0 0 0 2.8rem #47a3f3;
}

.testimonial {
  padding: 0 39rem;
  background: var(--white) url(../img/Wave-testi.png) no-repeat left bottom;
}
.testimonial h1 {
  margin-bottom: 6rem;
}
.testimonial .feedback-grp .person {
  width: 45%;
}
.testimonial .feedback-grp .person > img {
  width: 40rem;
}
.testimonial .feedback-grp > i {
  top: 25%;
  left: 45%;
  translate: -45% -25%;
  font-size: 3.6rem;
  color: var(--blue);
}
.testimonial .feedback-grp .feedback {
  width: 55%;
  margin-left: 8rem;
  text-align: left;
}
.testimonial .feedback-grp .feedback p {
  font-size: 1.8rem;
  line-height: 3rem;
}
.testimonial .feedback-grp .feedback > img {
  translate: -6rem 2rem;
}
.testimonial .feedback-grp .feedback .comment {
  margin-bottom: 4rem;
}
.testimonial .feedback-grp .feedback .control-comment {
  justify-content: space-between;
  align-items: center;
}
.testimonial .feedback-grp .feedback .control-comment .person-name h3 {
  font-size: 2.4rem;
  color: var(--blue);
  text-transform: capitalize;
  line-height: 3.6rem;
}
.testimonial .feedback-grp .feedback .control-comment .person-name p {
  line-height: 2.65rem;
}
.testimonial .feedback-grp .feedback .control-comment .control button {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #d9e2ec;
  padding: 1.5rem;
  background-color: transparent;
}
.testimonial .feedback-grp .feedback .control-comment .control button:hover {
  color: var(--blue);
}

.screenshots {
  transition: 1s;
}
.screenshots h1 {
  line-height: 8.865rem;
  margin-bottom: 6.8rem;
}
.screenshots .scs-img {
  height: 62rem;
}
.screenshots .scs-img img {
  margin: 2.5rem;
  box-shadow: 0 1.5rem 3.5rem 0 rgba(51, 78, 104, 0.25);
  border-radius: 2.5rem;
}
.screenshots .scs-img label {
  top: 0;
}
.screenshots .scs-img .opacity1 {
  opacity: 1;
}
.screenshots .scs-img .opacity50 {
  opacity: 0.5;
}
.screenshots .scs-img .opacity75 {
  opacity: 0.75;
}
.screenshots .scs-control {
  top: 100%;
  left: 50%;
  translate: -50% 0;
  margin-top: 2.5rem;
}
.screenshots .scs-control input[type=radio] {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #bcccdc;
  border-radius: 50%;
  margin: 0 1rem;
}
.screenshots .scs-control input[type=radio]:checked {
  background-color: var(--blue);
}

.faq-content {
  margin-top: 6rem;
}
.faq .questions-grp .question {
  height: 7.7rem;
  width: 67rem;
  box-shadow: 0 1.5rem 3.5rem 0 rgba(51, 78, 104, 0.1);
  overflow: hidden;
  margin-bottom: 1.5rem;
  text-align: left;
  padding: 0 2.8rem;
  transition: height 0.5s linear;
}
.faq .questions-grp .question.active {
  height: 17rem;
}
.faq .questions-grp .question.active .title i {
  rotate: 90deg;
  color: var(--blue);
}
.faq .questions-grp .question .title {
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq .questions-grp .question .title h3 {
  color: var(--gray);
  line-height: 7.7rem;
  font-size: 1.8rem;
}
.faq .questions-grp .question .title i {
  rotate: 0deg;
  font-size: 1.8rem;
  color: #bcccdc;
  transition: rotate 0.5s linear;
}
.faq .questions-grp .question p {
  line-height: 2.8rem;
}

.cta {
  background-color: var(--blue);
  padding: 6rem 39rem;
  flex-direction: column;
  overflow: hidden;
}
.cta h1 {
  color: var(--white);
}
.cta p {
  color: var(--white);
  line-height: 2.8rem;
  width: 57rem;
}
.cta .email {
  background-color: var(--white);
  border-radius: 25rem;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  width: 51rem;
  margin-top: 3rem;
}
.cta .email i {
  font-size: 2.4rem;
  color: var(--blue);
}
.cta .email input, .cta .email button {
  font-size: 1.8rem;
}
.cta .email input {
  padding: 2rem;
}
.cta .email input::placeholder {
  text-transform: capitalize;
  color: var(--blue);
}
.cta .email button {
  background-color: var(--blue);
  color: var(--white);
  text-transform: capitalize;
  padding: 2rem 5.2rem;
  border-radius: 25rem;
}
.cta .apps {
  margin-top: 5rem;
}
.cta .apps a {
  font-size: 2.4rem;
  color: #e6f6ff;
  margin: 0 0.8rem;
}
.cta::before {
  top: 0;
  left: 100%;
  background: url(../img/download-left-device.png) no-repeat;
  background-position: bottom;
  transition: 1s;
}
.cta::after {
  top: 0;
  right: 100%;
  background: url(../img/download-right-device.png) no-repeat;
  transition: 1s;
}
.cta.scroll::before {
  left: 0;
}
.cta.scroll::after {
  right: 0;
}

.pricing {
  padding: 0 47rem;
}
.pricing > p {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
}
.pricing .editions {
  margin-top: 4rem;
}
.pricing .editions .edition {
  padding: 4.5rem;
  margin: 0 1.25rem;
  background-color: var(--white);
  box-shadow: 0 1.5rem 3.5rem 0 rgba(51, 78, 104, 0.1);
  flex-direction: column;
  height: 57rem;
  width: 31rem;
  border-radius: 1rem;
}
.pricing .editions .edition:hover {
  background-color: var(--blue);
  box-shadow: 0 1.5rem 3.5rem 0 rgba(33, 134, 235, 0.75);
}
.pricing .editions .edition:hover p, .pricing .editions .edition:hover span, .pricing .editions .edition:hover div > span {
  color: var(--white);
}
.pricing .editions .edition:hover a {
  background-color: var(--white);
  border-color: var(--white);
}
.pricing .editions .edition h3 {
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-weight: 700;
  color: var(--blue);
  background-color: #e6f6ff;
  border-radius: 25rem;
  box-shadow: 0 0 7.5rem 0 rgba(51, 51, 51, 0.1);
  text-transform: uppercase;
}
.pricing .editions .edition .price {
  margin-top: 3.5rem;
  font-size: 4.8rem;
  color: var(--blue);
}
.pricing .editions .edition > span {
  margin-top: 0.5rem;
  bottom: 0;
  color: #829ab1;
}
.pricing .editions .edition > p {
  color: var(--gray);
  line-height: 3rem;
  height: 8rem;
  overflow: hidden;
  margin-top: 3rem;
}
.pricing .editions .edition .benefit {
  border-top: 0.1rem solid #e6efff;
  margin-top: 3rem;
  padding-top: 2.5rem;
  width: 31rem;
}
.pricing .editions .edition .benefit__value {
  font-weight: 700;
  text-align: right;
}
.pricing .editions .edition .benefit__value p {
  margin-top: 1.5rem;
}
.pricing .editions .edition .benefit__content {
  text-align: left;
  margin-left: 1rem;
}
.pricing .editions .edition .benefit__content span {
  color: var(--gray);
  margin-top: 1.5rem;
}
.pricing .editions .edition > a {
  border: 0.2rem solid var(--blue);
  border-radius: 25rem;
  padding: 1.5rem 6.5rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--blue);
  margin: 3rem auto 0;
}

.posts {
  text-align: center;
}
.posts__content {
  margin-top: 9rem;
  align-items: stretch;
}
.posts__content .post {
  width: 37rem;
  min-height: 30rem;
  margin: 0 1.5rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 1.5rem 3.5rem 0 rgba(51, 78, 104, 0.1);
  padding: 5.3rem 2.5rem;
  text-align: left;
  overflow: hidden;
}
.posts__content .post .timeline {
  text-transform: capitalize;
  color: #829ab1;
  font-style: italic;
}
.posts__content .post .timeline span {
  text-transform: lowercase;
  color: inherit;
  font-size: inherit;
}
.posts__content .post p {
  line-height: 2.8rem;
}
.posts__content .post h4 {
  margin: 2rem 0;
  color: var(--blue-deep);
  font-size: 1.8rem;
}
.posts button {
  margin-top: 5rem;
  background-color: var(--blue);
  border-radius: 25rem;
  text-transform: capitalize;
  color: var(--white);
  padding: 2rem 6.2rem;
}

.contact p {
  margin-top: 4rem;
  font-size: 2.4rem;
}
.contact form {
  margin: 9.5rem auto 0;
  width: 76.5rem;
  align-items: stretch;
}
.contact form .email, .contact form select {
  border-radius: 25rem;
  border: 2px solid var(--blue);
  color: var(--blue);
  padding: 1rem 2rem;
}
.contact form .email input[type=email] {
  margin-left: 1.5rem;
}
.contact form .email input[type=email]::placeholder {
  color: var(--blue);
  text-transform: capitalize;
}
.contact form .email i {
  font-size: 2.4rem;
}
.contact form select {
  margin-left: 2rem;
}
.contact form button {
  margin-left: 2rem;
  background-color: var(--blue);
  text-transform: uppercase;
  color: var(--white);
  padding: 2rem 6rem;
  border-radius: 25rem;
}
.contact .info {
  margin-top: 2rem;
  color: var(--blue);
}
.contact .info div {
  margin: 0 2.4rem;
}
.contact .info div i {
  font-size: 2.4rem;
}
.contact .info div p {
  margin-left: 2rem;
  color: var(--blue);
  text-transform: capitalize;
}
.contact .info div p span {
  text-transform: uppercase;
  font-size: inherit;
  color: inherit;
}
.contact .map {
  margin-top: 4.5rem;
  background-image: url(../img/Map.png);
  color: var(--blue);
  height: 36rem;
}
.contact .map i {
  font-size: 10rem;
}

footer {
  background-color: var(--blue);
  padding: 1.6rem 0;
  color: #e6f6ff;
}
footer .footer-top {
  padding: 0 37.5rem;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .download-links {
  width: 31rem;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .links a {
  margin-left: 4.5rem;
  color: #e6f6ff;
  text-transform: capitalize;
}
footer .footer-bottom {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 37.5rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid #2253e5;
}
footer .footer-bottom .socials {
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .socials i {
  margin-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
