:root{
  --black: #2d3436;
  --white: #ecf0f1;
  --gray: #b2bec3;
  --green: #2ecc71;
  --blue: #0abde3;
  --pink: #e84393;
  --blue-dark: #0984e3;
  --orange: #ff9f43;
  --yellow: #f9ca24;
  --red: #eb4d4b;
  --navbar-bf-rotate3D: 1;
  --navbar-af-rotate3D: 1;
}