@import '../../scss/param.scss';
@import './variable.scss';
/* PARAM */
%left-transition{
  transition: left .5s linear;
}
%transform-transition{
  transition: transform .5s linear;
}
/* SCSS */
body{
  width: 100%;
  height: 100vh;
  background-color: var(--black);
}
.wrapper{
  overflow-x: clip;
}
.container{
  width: 100%;
  background-color: var(--blue);
  @include flex(space-between, center);
  @extend %pos-rel;
  .brand{
    margin: 1rem;
    img{
      width: 3rem;
    }
  }
  >input[type="checkbox"]{
    display: none;
  }
}
.bar{
  @extend %pos-abs;
  @extend %d-inline;
  top: 0;
  left: calc(100% - 5rem);
  width: 5rem;
  height: 4rem;
  background-color: var(--blue);
  border-radius: 50%;
  transform: rotate(0);
  transition: left .5s linear, transform .5s;
  >label{
    @extend %pos-abs;
    @extend %d-block;
    width: 5rem;
    height: 5rem;
    z-index: 2;
  }
  &-line{
    @extend %pos-abs;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    span{
      @extend %d-block;
      width: 100%;
      height: .5rem;
      background-color: var(--gray);
      border-radius: 25rem;
      margin: calc(5rem / 6) 0;
    }
    &--top{
      @extend %transform-transition;
    }
    &--mid{
      transition: opacity .5s;
      opacity: 1;
    }
    &--bottom{
      @extend %transform-transition;
    }
  }
  &-cb{
    &:checked{
      ~.bar .bar-line .bar-line--top{
        transform: translateY(1.5rem) rotate(45deg);
      }
      ~.bar .bar-line .bar-line--mid{
        opacity: 0;
      }
      ~.bar .bar-line .bar-line--bottom{
        transform: translateY(-1.25rem) rotate(135deg);
      }
      ~.bar{
        left: 0;
        transform: rotate(360deg);
      }
      ~.menu{
        left: 5rem;
      }
    }
  }
}
.menu{
  @extend %pos-abs;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  @extend %left-transition;
  .navbar{
    background-color: var(--blue);
    width: calc(100% - 5rem);
    li{
      width: 100%;
      background-color: var(--blue);
      text-align: center;
      &::first-letter {
          text-transform: uppercase;
        }
      a{
        line-height: 5rem;
        font-size: 16px;
        color: var(--white);
        padding: 1rem 2rem;
      }
      &:hover{
        background-color: rgba($color: #fff, $alpha: .5);
        a{
          color: var(--black);
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .bar{
    display: none;
  }
  .menu{
    position: unset;
    width: 50%;
    .navbar{
      width: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li{
        
      }
    }
  }
}