:root{
  --blue: #2186eb;
  --blue-deep: #334e68;
  --gray: #627d98;
  --white: #ffffff;
  //img-1
  --img1-left: 10%;
  --img1-opacity: .5;
  //img-2
  --img2-left: 30%;
  --img2-opacity: .75;
  //img-3
  --img3-left: 50%;
  --img3-opacity: 1;
  //img-4
  --img4-left: 70%;
  --img4-opacity: .75;
  //img-5
  --img5-left: 90%;
  --img5-opacity: .5;
}